.rotate-by-deg {
  transform: rotate(45deg);
}

.rotate-by-rad {
  transform: rotate(-1rad);
}

.rotate-by-turn {
  transform: rotate(0.3turn);
}

/* Scale
 -Scaleon x direction
 -Scale on y direction
 -Scale(x, y) direction
 -scale(uniform) for both X and Y*/

.scaleX {
  transform: scaleX(0.25);
}

.scaleY {
  transform: scaleY(1.5);
}

.scaleXY {
  transform: scale(0.25, 1.5);
}

.scale {
  transform: scale(0.5);
}
/* Skew 
 -SkewX direction
 SkewY direction
 Skew(X and Y) direction
 Skew() just behaves as SkewX*/

.skewX {
  transform: skewX(45deg);
}

.skewY {
  transform: skewY(-0.5rad);
}

.skewXY {
  transform: skew(45deg, -0.5rad);
}

.skew {
  /* single value behaves the same as skewX */
  transform: skew(45deg);
}

/* Translate */
.translateX {
  transform: translateX(20px);
}

.translateY {
  /* percent values are of the element's width */
  transform: translateY(-33%);
}

.translateXY {
  transform: translate(20px, -33%);
}

/* Chaininng Multiple Transforms */
.red-box,
.blue-box {
  position: absolute;
  width: 100px;
  height: 100px;
}

.red-box {
  background: red;
  transform: rotate(45deg) translate(200%);
}

.blue-box {
  background: blue;
  transform: translate(200%) rotate(45deg);
}
/* Three-dimensional transforms */
.box-3d {
    transform: perspective(500px);
}
/* Due to attention of perspective for 3D transforms
the rotate, scale, and transkate have 3D variants added */
.rotateX {
  transform: rotateX(60deg);
}

.rotateY {
  transform: rotateY(60deg);
}

.rotateZ {
  transform: rotateZ(60deg);
}
.rotate3d {
    transform: rotate3d();
}
.translate30 {
  transform: perspective(100px) translateZ(30px);
}

.translate-100 {
  transform: perspective(100px) translateZ(-100px);
}

.translate-200 {
  transform: perspective(100px) translateZ(-200px);
}
/* 
.element {
  transform: scaleZ();
  transform: scale3d();
}

transform: rotate3d(0, 0, 0, 0);
transform: rotate3d(1, 1, 1, 45deg);
transform: rotate3d(2, -1, -1, -0.2turn);
transform: rotate3d(0, 1, 0.5, 3.142rad);


transform: translate3d(0, 0, 0);
transform: translate3d(42px, -62px, -135px);
transform: translate3d(-2.7rem, 0, 1rem);
transform: translate3d(5ch, 0.4in, 5em);
*/

/* Tranasisition */
button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2% 5% 2% 5%;
  background-color: white;
  color: white;
  transition: background-color 1s ease-out 0.25s;
}

button:hover {
  background-color: black;
  cursor: pointer;
}
/* 
button {
  the transition shorthand(full)
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-delay: 0.25s;
}
*/

nav {
  display: flex;
  gap: 0.5rem;
}

a {
  flex: 1;
  background-color: #333333;
  color: white;
  border: 1px solid;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

a:hover,
a:focus {
  background-color: white;
  color: #333333;
}

.btn {
  transition: transform 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
}